.button{
    border-radius: 20px;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0);
}
.mw{
    background-color: rgba(128, 128, 128, 0.745);
    width: 20%;
}
.btn1{
    background-color:rgba(255, 0, 0, 0.462);
}
.btn2{
    background-color:rgba(0, 0, 255, 0.462);
}
.btn3{
    background-color:rgba(0, 128, 0, 0.523);
}
.btn4{
    background-color: rgba(128, 0, 128, 0.514);
}

@media(max-width:567px) {
    .btn1{
        width: 100%;
        justify-content: center;
        font-size:smaller;
    }
    .btn2{
        width: 100%;
        justify-content: center;
        font-size:smaller;

    }.btn3{
        width: 100%;
        justify-content: center;
        font-size:smaller;

    }.btn4{
        width: 100%;
        justify-content: center;
        font-size:smaller;

    }
    .mw{
        width: 35%;
    }
    
}
